aiohttp==3.9.3
aiofiles==23.2.1
apscheduler==3.10.4
asyncio==3.4.3
beautifulsoup4==4.12.3
cachetools==5.5.0
pillow==10.2.0
gitpython==3.1.43
googletrans==4.0.0-rc1
pymongo==4.15.1
pytz==2024.2
regex==2023.12.25
requests==2.32.3
tgcrypto==1.2.5
ujson==5.10.0
urllib3==2.2.3
motor[srv]==3.3.2
python-dotenv==1.0.1
speedtest-cli==2.1.3
pyfiglet==1.0.2
pyshorteners==1.0.1
heroku3==5.2.1
git+https://github.com/Lyfoi/Abg.git
git+https://github.com/Mayuri-Chan/pyrofork.git
SQLAlchemy==1.4.44
telethon==1.38.1
psycopg2==2.9.10
telegraph==2.2.0
captcha==0.6.0
qrcode==8.0
bs4==0.0.2
